#panel {

}

#title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  padding: 10px;
  display: inline;
}

#login {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  padding: 10px;
  display: inline;
}

#loginButton {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #e1e1e1;
}

#loginButton:hover {
  background-color: #a6d6cd;
}

#sample {
  display: inline;
}

#sampleButton {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #e1e1e1;
}

#sampleButton:hover {
  background-color: #a6d6cd;
}

#code {
  padding: 10px;
}
